* {
  font-family: 'Notable', sans-serif;
  font-family: 'Questrial', sans-serif;
  color: #f6546a;
  line-height: 2;
  background: #edcee6;
}

h1 {
  text-align: center;
  font-size: 50px;
}

body {
text-align: center;

}

input {
  padding: .5em .6em;
  display: inline-block;
  border: 2px solid #f6546a;
  box-shadow: 4px 7px #888888;
  border-radius: 4px;
  box-sizing: border-box;
  width:330px;
  background-color: #f9c4b8;
}

form {
  margin-bottom:10px;
  align-items: center;
}

button {
  height: 40px;
  width: 100px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 20px 0;
  box-shadow: 4px 7px #888888;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid #FE7880;
  border-radius:40px;
  color: #FE7880;
  background-color: #f9c4b8;
}
